<!DOCTYPE html>
<html>
<head>
  <title>BOOT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>




<%= render 'partials/jumbotron' %> <!-- move code out -->


<%= yield %>

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->


</body>
</html>
